{% extends 'base/base.html' %}

{% block pagecontent %}
<div class="container-fluid">
<div class="row">
    {% if obj %}
    {% for peli in obj %}
    <div class="col-md-3">
        <div class="card mb-3 bg-gradient-dark" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-5">
                <a href="{% url 'base:peficha' peli.id %}">
                    <img src="{{ peli.imagen.url }}" class="card-img" alt="Imagen">
                </a>
                </div>
                <div class="col-md-7">
                <div class="card-body text-gray-400">
                    <h6 class="card-title">{{ peli.titulo }}</h6>
                    <p class="card-text"><small class="text-muted">{{ peli.duracion }}</small></p>
                    <label class="card-text"><small class="text-muted">{{ peli.fecha_estreno|date:'Y' }}</small></label>
                </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
</div>
{% endblock pagecontent %}