{% extends 'base/base.html' %}

{% block pagecontent %}
<div class="container-fluid">
<div class="row">
    {% if obj %}
    <div class="col-md-12">
        <div class="card mb-3 bg-gradient-dark">
            <div class="row no-gutters">
                <div class="col-md-12"></div>
                <div class="col-md-8 text-center">
                    <video id="sevideo" controls preload="auto" style="width: 100%;">
                        <source src="{{ p_curso.url_video }}" type="video/mp4">
                        Tu navegador no implementa el elemento <code>video</code>.
                    </video>
                </div>
                <div class="col-md-4" style="max-height: 535px;overflow: auto;">
                    <ul id="ulSerie" class="navbar-nav bg-gray-900 sidebar-dark accordion" style="width: 100%;">
                        {% for pel in obj %}
                        <li class="nav-item" id="{{ pel.serie_id }}_{{ pel.id }}">
                            <a class="nav-link" href="{% url 'base:secapitulo' pel.serie_id pel.id %}" aria-expanded="true">
                                <i class="fas fa-play-circle"></i>
                                <span>{{ pel.titulo }}</span>
                                </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-8 text-gray-300">
                    <div class="col-md-12">
                        <br>
                        <p class="card-text">{{ p_curso.titulo }}</p>
                        <h6>Sinopsis:</h6>
                        <p class="card-text">{{ p_curso.sinopsis }}</p>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock pagecontent %}

{% block jspage %}
<script>
    $(document).ready(function () {
        $('#ulSerie li').click(function() {
            sessionStorage.setItem("capnext", $(this).index());
        });

        var actili=0;
        if(sessionStorage.getItem("capnext") != null){
            actili = parseInt(sessionStorage.getItem("capnext"))
        }
        $("#ulSerie li").addClass(function(index) {
            if(index == actili)
                return "active";
        });

        var vid1 = document.getElementById("sevideo")
        vid1.play();//Descomentar para inicio automatico
        const video = vid1;
        video.addEventListener('ended', (event) => {
            var index = 1;
            if(sessionStorage.getItem("capnext") != null){
                index = parseInt(sessionStorage.getItem("capnext")) + 1;
                if(index > ($("li").length - 5)){
                    sessionStorage.setItem("capnext", 0);
                    index = 0;
                }
            }
            var idcad = $("#ulSerie li").eq(index).attr("id");
            var res = idcad.split("_");
            var vser = res[0];
            var vpel = res[1];
            //console.log("video siguiente");
            window.location="/serie/"+ vser +"/cap/"+ vpel;
            //vid2.play();
            sessionStorage.setItem("capnext", index);
        });
    });
</script>
{% endblock %}