.divAccionTable{
    text-align: center;
    font-size: 1.5em;
}

.divBtnModal{
    text-align: right;
}

/* .navbar-nav{
    position: fixed;
    z-index: 1;
} */
/* .colsidebar{
    position: fixed;
    padding: 0px;
    margin: 0px;
}
.contentwrapper{
    position: fixed;
    padding: 0px;
    margin: 0px;
} */