<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="{% url 'cat:peedit' obj.pk %}" enctype="multipart/form-data">
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'cat:penew' %}" enctype="multipart/form-data">
        {% endif %}
            {% csrf_token %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                {% if obj %}
                                <div class="text-xs text-warning mb-1">
                                {% else %}
                                <div class="text-xs text-success mb-1">
                                {% endif %}
                                    <h6 class="m-0 font-weight-bold">
                                    {% if obj %} Editar {% else %} Nuevo {% endif %} pelicula</h6>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <!-- <div class="col-6">
                                        <div class="form-group">
                                            <label for="id_titulo">Titulo:</label>
                                            {{ form.titulo }}
                                        </div>
                                        <div class="form-group">
                                            <label for="id_sinopsis">Sinopsis:</label>
                                            {{ form.sinopsis }}
                                        </div>
                                        <div class="form-group">
                                            <label for="id_director">Director:</label>
                                            {{ form.director }}
                                        </div>
                                        <div class="form-group">
                                            <label for="id_fecha_estreno">Fecha estreno:</label>
                                            {{ form.fecha_estreno }}
                                        </div>
                                        <div class="form-group">
                                            <label for="id_duracion">Duracion:</label>
                                            {{ form.duracion }}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        
                                        <div class="form-group">
                                            <label for="id_imagen">Imagen:</label>
                                            {{ form.imagen }}
                                        </div>
                                        <div class="form-group">
                                            <label for="id_genero">Genero:</label>
                                            {{ form.genero }}
                                        </div>
                                        <div class="form-group">
                                            <label for="id_edo">Estado:</label>
                                            {{ form.edo }}
                                        </div>
                                    </div> -->

                                    {{ form.as_p }}
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row divBtnModal">
                                    <div class="col">
                                        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
                                        <button type="button" class="btn btn-danger" onclick="return cerrar_modal()"><i class="fas fa-trash"></i> Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% block jspage %}
<script>
    $(function () {
        $("#id_fecha_estreno").datetimepicker({
            format: 'Y-m-d',
            timepicker:false
        });
    });
</script>
{% endblock jspage %}