<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="{% url 'cat:seedit' obj.pk %}">
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'cat:senew' %}">
        {% endif %}
            {% csrf_token %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                {% if obj %}
                                <div class="text-xs text-warning mb-1">
                                {% else %}
                                <div class="text-xs text-success mb-1">
                                {% endif %}
                                    <h6 class="m-0 font-weight-bold">
                                    {% if obj %} Editar {% else %} Nuevo {% endif %} serie</h6>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col-10">
                                        <div class="input-group">
                                            <input type="text" name="descripcion" maxlength="100" class="form-control" required id="id_descripcion" placeholder="Descripcion" value="{% if obj %} {{ obj.descripcion }} {% endif %}">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="edo" class="custom-control-input" id="id_edo" {% if obj.edo %} checked {% endif %} >
                                            <label class="custom-control-label" for="id_edo">Estado </label>
                                        </div>
                                    </div>
                                    <!-- {{ form.as_p }} -->
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row divBtnModal">
                                    <div class="col">
                                        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
                                        <button type="button" class="btn btn-danger" onclick="return cerrar_modal()"><i class="fas fa-trash"></i> Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>